@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    /* Colors */
    --color-primary: #74512d;
    --color-secondary: #af8f6f;
    --color-tertiary: #f8f4e1;
    --color-background: #f8f4e1;
    --color-text: #543310;
    /* Defaults */
    --default-transition-duration: 300ms;
}
