@import "tailwindcss";
@theme {
    /* Colors */
    --color-primary: #74512d;
    --color-secondary: #af8f6f;
    --color-background: #f8f4e1;
    --color-text: #543310;
}

@theme inline {
    /* Fonts */
    --font-serif: var(--font-playfair-display);
    --font-sans: var(--font-dm-sans);
}
