@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    /* Colors */
    --color-primary: #74512d;
    --color-secondary: #af8f6f;
    --color-tertiary: #f1dec9;
    --color-accent: #bc6c25;
    --color-background: #f8f4e1;
    --color-text: #543310;
    /* Defaults */
    --default-transition-duration: 300ms;
    /* Animations */
    --animate-shimmer: shimmer 1.5s infinite;

    /* Z-Index Scale */
    --z-map: 10;
    --z-map-marker: 20;
    --z-navbar: 40;
    --z-overlay: 50;
    --z-chat: 55;
    --z-progress: 9999;

    /* Fonts */
    --font-sans: var(--font-dm-sans);
    /* --font-serif: var(--font-playfair-display); */
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
